<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body
        {
        background: #481F01;
        background-size: cover;
        }
        h3.big
        {
        line-height: 1.8;
        color: white;
        }
    </style>
</head>
<body>
    <br>
    <div class="container">

        <div class="row">
            <div class="col-md-12 bg-light text-right">
                <a href="/home" class="btn btn-info btn-lg">Home</a>
                <a href="/spam" class="btn btn-primary btn-lg">Spam</a>
            </div>
        </div>

        <center>
            <h1><strong style="color:white;"> Spam Filtering </strong></h1>
        </center><br>
        <br>


        <h3 style="color:white;" class="big"><em>
                   Over recent years, as the popularity of mobile phone devices has increased, Short Message
Service (SMS) has grown into a multi-billion dollar industry.Over recent years, as the popularity of mobile phone devices has increased, Short Message
Service (SMS) has grown into a multi-billion dollar industry. So Spam SMS is one of the major issues in the wireless communication world and it grows
day by day.To tackle this problem Natural language processing technique is useful for Spam SMS identification. It analyses text content and finds patterns which are used to identify
Spam and Non-Spam SMS.
            </em></h3><br>

        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>

        </em></h3>
    </div>

</body>
</html>
